body {
    margin: 0;
    overflow: hidden;
  }

  #info {
    color: #FFF;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 100;
    display: block;
  }

  #distance {
    color: #0f0;
    position: absolute;
    top: 40px;
    left: 10px;
    z-index: 100;
    display: block;
  }

  #contextMenu {
    display: none;
    position: absolute;
    background: #222;
    color: white;
    border: 1px solid #555;
    padding: 5px;
    z-index: 1000;
  }

  #contextMenu div {
    padding: 5px;
    cursor: pointer;
  }

  #contextMenu div:hover {
    background: #444;
  }

  #distanceEndButton {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    background: #f00;
    color: #fff;
    padding: 8px;
    cursor: pointer;
    z-index: 1000;
  }
